  body, header, section, footer{width: 100%;margin: 0;}

  .tog{display: inline-block;float:right;background: transparent;height: 25px;width: 30px;outline: none;border: none;box-shadow: none;cursor: pointer;margin-top: 1.4vh;transition: 1s;}
    .tog:hover i{border-top: 2px solid lightblue;}
    .tog:active i{border-top: 2px solid lightblue;}
    .tog:visited i{border-top: 2px solid lightblue;}
.tog1{position: absolute;width: 11px;border-top: 2px solid white;margin: -5px 0px 0 -15px;transition: 1s;}
.tog2{position: absolute;width: 30px;border-top: 2px solid white;margin: 5px 0px 0 -15px;transition: 1s;}

        .tog{margin: 2.5vh 4vw 0 0vw;}
         .tog:hover i{border-top: 2px solid rgba(220,53,69,1);}
    .tog1{border-top: 2px solid white;}
    .tog2{border-top: 2px solid white;}
        
      .social{color: white;position: absolute;width: 27px;height: 27px;border-radius: 100%;margin-left: -14px;
background:rgba(52,58,64,1);border:0.01em solid white;padding-left:5px;transition: 1s;}
        .social:hover{background: white;color: rgba(52,58,64,1);}
    
          .ul{display: inline-block;width: 91%;padding: 0px 5vw 0 0vw;height:100%;float: right;margin: 0;}
        .ul li{display: inline-block;padding: 1.5% 20px;letter-spacing: 0.2em;color: rgba(244,244,244,1);font-size: 1em;cursor: pointer;height: 100%;}
        .ul li:hover{background: rgba(38,43,43,0.4);}  
        .ul .active::before{
            content: '';
            position: absolute;
            border: 1.5px solid  rgba(220,53,69,1);
            width: 35px;
            margin-top: 24px;
            margin-left: 10px;
        }
.absolute{position: absolute;}
        .board{width: 75%;background: rgba(72,71,71,1);height: 63vh;margin-top: 12vh;padding: 1% 0 0 1%;}
        .s{width:49.7%;height:100%;display: inline-block;text-align: center;}
        .s div{width: 23.2%;height: 8.9%;margin: 0 1% 1% 0;background:  rgba(38,43,43,.051);position: relative;display: inline-block;text-align: center;font-size: 4em;text-transform: uppercase;color: white;}
        .s div p{width: 100%;height: 100%;position: absolute;margin-left: 0%;transition: 1s;}
           .bottom-letter{letter-spacing: 1em;position: absolute;color: white;bottom: 9vh;left:0;right:0;width: 60%;margin: 0 auto;}

       [class^="top"] {

border: 20px solid red;}        

        .imagestyle{background-repeat:no-repeat;}
        
        .first-preview{margin-top: 110px;padding-top: 150px !important;}
        .first-preview .ileft{position: absolute;width: 25vw;height: 350px;background: linear-gradient(to left,rgba(38,43,43,.9),65%,transparent);margin-top: -25px;right:0;}
        .first-preview .iright{position: absolute;width: 25vw;height: 350px;background: linear-gradient(to right,rgba(38,43,43,.9),65%,transparent);margin-top: -25px;left: 0;}
        .first-preview div{margin: 0;padding: 0;height: 300px;text-align: center;}
        .first-preview div div{background: rgba(10,10,10,.5);height: 100%;position: absolute;padding: 100px 30px 30px 30px;text-align: left;}
        .first-preview div img{width:100%;margin: 0;height:100%;}
        .first-preview div button{position: absolute;bottom: 0;right: 0;background: rgba(0,0,0,.2);color: white;padding: 10px;cursor: pointer;}
        .first-preview div i{background: rgba(0,0,0,.5);width: 100px;height: 30px;margin: auto auto;margin-top: 40px;color: whitesmoke}
        
        
        .status{width: 75%;min-height: 200px;box-shadow: 0px 20px 5px rgba(0,0,0,.1);background: linear-gradient(to bottom,rgba(38,43,43,.41),85%,rgba(64,64,64,.171));padding-top: 50px;padding-bottom: 50px;position: relative;margin: 0px auto 200px auto;left: 0;right: 0;}
.status div {margin: 20px 0;}
        .status div b{font-size: 4em;display: block;}
        .status div small{font-size: 1em; display: block;}
        
.comedy{padding: 0vh 0 0 0;text-align: center;position: relative;margin: 0vh 0 0 0;height: auto;width: 100%;}
.comedy h2{position: absolute;font-size: 3.4em;width: 100px;margin:  -6vh 0 0vh 0;height: 100px;left:10vw}               
.bend{content: '';position: absolute;background: rgba(220,53,69,1);width: 80px;height: 80px;clip-path:polygon(100% 90%, 0% 100%, 0% 0%, 100% 10%);margin-left: -35px;margin-top: 0px;}
/* .comedy div{margin: 0px auto 0 auto;width: 85%;position:relative;left:0;right: 0;padding: 200px 0}
.comedy div div{margin: 0px 0 20px 0;text-align: left;padding: 0 5px;position:relative;}
.comedy div div img{width: 100%;height: 220px;margin: 0;}       
.comedy div div div{background: rgba(0,0,0,1);width: 100%;padding: 10px 15px;}
.comedy div div div p{font-size: 0.7em;margin:0;} 
.comedy div div div h6{color: indianred;font-size: 1.5em; margin:0;}
.background{background: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,.1));width: 100%;height: 200vh;position: absolute;left: 0;} */

.sponsors img{margin:auto 20px !important;width: 100%;height:100px;}

.review{position: relative;text-align: center;padding: 10vh auto;height: 100vh;width: 90%;background: linear-gradient(rgba(0,0,0,.51) 50%,67%,rgba(255,0,0,0) 50%);margin: 0 auto;left: 0;right: 0;}
/* .review h2{position: absolute;font-size: 3.4em;width: 100px;margin:  -6vh 0 0vh 0;height: 100px;left:10vw}               
.review div {background: rgba(132,134,139,1);margin: 14% auto 0 auto;position: relative;left: 0;right: 0;height: 350px;display: inline-block;padding: 0;}
.review div i{content: '';position: absolute;width: 150px;height: 250px;background: rgba(0,0,0,.8);transform: matrix( 1, 0, -.12, 1, 0, 0);left: -20px;top:0px;}
.review div div {width: 100%;height: 100%;padding: 10px;color: darkslategray} */

        @media (max-width:900px){.board{width: 95%}}
        
        @media(max-width:1206px){.s{width: 49%;text-align: center;}.s div{width: 21.5%;}}
        @media(max-width:283px){.s{width: 100%;}}
        

        
        
          /* 3 rows & 3 columns
.img-3-1{background-size:300% 300%;background-position: 0% 0%;}
.img-3-2{background-size:300% 300%;background-position: 50% 0%;}
.img-3-3{background-size:300% 300%;background-position: 100% 0%;}
.img-3-4{background-size:300% 300%;background-position: 0% 50%;}
.img-3-5{background-size:300% 300%;background-position: 50% 50%;}
.img-3-6{background-size:300% 300%;background-position: 100% 50%;}
.img-3-7{background-size:300% 300%;background-position: 0% 100%;}
.img-3-8{background-size:300% 300%;background-position: 50% 100%;}
.img-3-9{background-size:300% 300%;background-position: 100% 100%;}

*/
        
